/* Add CSS Styling */
.odd {
    font-family:Verdana, "DejaVu Sans", sans-serif;
    background-color: rgb(227, 159, 171);
}

#second-element {
    font-size: 36px;
    color: blue;
}

#third-element, #fourth-element { 
    font-size: 24px; 
}

#fourth-element {
    background-color: lightgreen;
    font-weight: bold;
}